@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@font-face{
    font-family: 'FonteLogo';
    src: url('../_fonts/bubblegum-sans-regular.otf');
}
body{
    background-color: #dddddd;
    color: rgba(0,0,0,1);
}
div#interface{
    background-color: #ffffff;
    width: 900px;   
    margin: -20px auto 10px auto;
          /*cima dir  baixo esq*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    padding: 10px;
}   
p{
    text-align: justify;
    text-indent: 50px;
}
header#cabecalho img#icone{
    position: absolute;
    left: 60%;
    top:70px;    
}
header#cabecalho{
    border-bottom: 1px #606060 solid;
    height: 150px; /*definir altura do cabeçalho*/
    background: url("../_imagens/glass-logo-peq.jpg")no-repeat 0px 80px; /*inclusão do ícone como background, sem repetição e posicionamento de acordo com a altura do cabeçalho */
}
header#cabecalho h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6); /*1 pixel de deslocamento, 1 pixel de deslocamento vertical e 1 px de espalhamento*/
    margin-bottom: 0px;

}
header#cabecalho h2{
    font-family: 'Titillium Web', sans-serif; /*Fonte do google*/
    font-size: 15pt;
    color: #888888;
    padding: 0px;
    margin-top: 0px;
}
/*formatação de imagens com legendas*/
figure.foto-legenda{
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
    
}
figure.foto-legenda img{
    width: 100%;
    height: 100%;
}
figure.foto-legenda figcaption{
    opacity: 0; /*Para melhorar a visualização da imagem com o texto*/
    position: absolute; 
    top: 0px;
    background-color: rgba(0,0,0,.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box; /*Vai criar um box dentro da borda*/
    transition: opacity 3s; /*Definir duração para ser executado*/
}

figure.foto-legenda:hover figcaption{
opacity: 1; /*quando passar o mouse por cima do objeto figcaption irá mostrá-lo*/
}

/*Formatação do Menu*/
nav#menu {
    display:  block; /*Definir o nav-menu como bloco para que o menu flutue.*/
}
nav#menu ul{
    list-style-type: none; /*Sem marcadores*/
    text-transform: uppercase; /*Deixar todas as letras maíusculas*/
    position: absolute;/*passar por cima dos documentos PELO SITE e não no CONTAINER NAV que no caso seria Relative*/
    top: -20px;/*tirar a margem padrão o valor deve ser negativo*/
    left: 700px;
}
nav#menu li{
    display: inline-block; /* itens lado a lado*/
    background-color: #dddddd;
    padding: 10px; /*espaçamento dentro do bloco*/
    margin: 2px;/*margem por fora do bloco*/
    -webkit-transition: background-color 1s; /*Webkit para navegadores antigos (compatibilidade)*/
    transition: background-color 1s;
    cursor: pointer;
}
nav#menu li:hover{
    background-color: #606060;
}

nav#menu h1{
    display: none; /*esconde-lo mas ele continua servindo como um mecanismo de busca*/
}

nav#menu a{
    color: #000000;
    text-decoration: none; /*tira o underline*/
}
nav#menu a:hover{
    color: #ffffff; /*Muda de cor ao passar o mouse*/

}

/*Formatação de Section*/
section#corpo{
    display: block; /*Vai ser mostrada como um bloco*/
    width: 520px;
    float: left;
    border-right: 1px solid #606060;
    padding-left: 2px;
    padding-right: 15px;
}
table#tabelaspec{
    border: 1px solid #606060;
    border-spacing: 0px; /*tirar o espaço entre as bordas*/
    margin-left: auto;
    margin-right: auto;
}
table#tabelaspec td{
    border: 1px solid #606060;
    padding: 10px;
    text-align: center;
    vertical-align: midle;
}
table#tabelaspec td.ce{
color: #ffffff;
background-color: #606060;
vertical-align: top;
font-weight: bold;
}
table#tabelaspec td.cd{
    background-color: #cecece;
}
table#tabelaspec caption{
    color: #888888;
    font-size: 10pt;
    font-weight: bolder;
}
table#tabelaspec caption span{
    display: block;
    float: right;
    font-size: 8pt;
    color: #000000;
    margin-top: 10px;
}
aside#lateral{
    display: block;
    width: 350px;
    float: right;
}
footer#rodape{
    clear: both; /*serve para impedir que fique os elementos ao lado */
    border-top: 1px solid #606060;
}
footer#rodape p{
text-align: center;
}